<div class="flex-col justify-center w-1/2 mx-auto">

    <h1>URL Shortener</h1>

    <div>
        <span>Retrez un url</span>
        <%= form_with model: Link.new do |form| %>
            <%= form.text_field :original_url %>
            <%= form.submit "submit", class: "bg-red-200 p-3 pointer" %>
        <% end %>
    </div>

    <div>
        <% if @link %>
            Hey! You just created a short URL.
            <br>
            original_url: <%= @link.original_url %> 
            <br>
            short_url: <%= @link.short_url %>
        <% end %>
    </div>

</div>
